/* add font family link here from google fonts */
/* universal selectors  */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Styling the banner hero section area */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(255, 255, 255, 0.127)), url("../assets/Images/banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

/* display the alignment for the container items */
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

/* The LEFT logo image size goes here*/
nav img {
  width: 150px;
}

/* Aligning the links to the right  */
.nav-links {
  flex: 1;
  text-align: right;
}

/* styling the text  */
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

/* styling the links itself  with colour and font size etc etc*/
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

/* styling the hover effect on the links when you hover*/
.nav-links ul li ::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #96be25;
  display: block;
  margin: auto;
  transition: 0.5s;
}

/* styling what happens after you hover on it  */
.nav-links ul li :hover::after {
  width: 100%;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Banner Content Section */



/* styling the center text  */
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

/* styling the middle banner button */
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

/* styling the hover effect when your cursor is on the button */
.hero-btn:hover {
  border: 1px solid #be2596;
  background: #be2596;
  transition: 1s;
  color: #fff;
}

.hero-btn-clean {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}



/* responsive design code for HERO Section*/

/* burger bar for responsive hidden */
nav .fa {

  display: none;
}

@media(max-width: 700px) {
  .text-box h1 {
      font-size: 20px;
  }

  .nav-links ul li {
      display: block;
  }

  .nav-links {
      position: fixed;
      background: #96be25;
      height: 100vh;
      width: 200px;
      top: 0%;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }

  /* burger bar displayed when open  */
  nav .fa {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }

  .nav-links ul {
      padding: 30px;
  }
}

/* New arrivals */


.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 860px;
}

.shoeBackground{
  position: relative;
  width: 50%;
  height: 475px;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
  0 -15px 35px rgba(0, 0, 0, 0.1),
  0 15px 35px rgba(0, 0, 0, 0.1);
  transition: .5s;
}

.gradients{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gradient{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

.first{
  z-index: 0;
  animation: 1s width ease;
}

@keyframes width{
  from{
      width: 0%;
  }
  to{
      width: 100%;
  }
}

.second{
  z-index: -1;
}

.gradient[color="blue"]{
  background-image: linear-gradient(45deg, #0136af, #22abfa);
}

.gradient[color="red"]{
  background-image: linear-gradient(45deg, #d62926, #ee625f);
}

.gradient[color="green"]{
  background-image: linear-gradient(45deg, #11998e, #1ce669);
}

.gradient[color="orange"]{
  background-image: linear-gradient(45deg, #fc4a1a, #f7b733);
}

.gradient[color="black"]{
  background-image: linear-gradient(45deg, #111, #666);
}

.logo{
  position: absolute;
  width: 100px;
  left: 20px;
  top: 20px;
}

.share{
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary);
  transition: .5s;
}

.share:hover{
  transform: scale(1.1);
}

.share i{
  line-height: 50px;
}

.nike{
  position: absolute;
  top: 85px;
  left: 15px;
  font-size: 11rem;
  text-transform: uppercase;
  line-height: .9;
  color: #fff;
  opacity: .1;
}

.shoe{
  position: absolute;
  width: 140%;
  opacity: 0;
  bottom: 0;
  right: 0;
  transform: rotate(-20deg);
  transition: .5s;
}

.shoe.show{
  opacity: 1;
}

.info{
  width: 50%;
  background-color: #fff;
  z-index: 1;
  padding: 35px 40px;
  box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
  0 -15px 35px rgba(0, 0, 0, 0.1),
  0 15px 35px rgba(0, 0, 0, 0.1);
}

.shoeName{
  padding: 0 0 10px 0;
}

.shoeName div{
  display: flex;
  align-items: center;
}

.shoeName div .big{
  margin-right: 10px;
  font-size: 2rem;
  color: #333;
  line-height: 1;
}

.shoeName div .new{
  background-color: var(--primary);
  text-transform: uppercase;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  transition: .5s;
}

.shoeName .small{
  font-weight: 500;
  color: #444;
  margin-top: 3px;
  text-transform: capitalize;
}

.shoeName, .description, .color-container, .size-container{
  border-bottom: 1px solid #dadada;
}

.description{
  padding: 10px 0;
}

.title{
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.text{
  color: #555;
  font-size: 17px;
}

.color-container{
  padding: 10px 0;
}

.colors{
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.color{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
  border: 5px solid;
  cursor: pointer;
  transition: .5s;
}

.color[color="blue"]{
  background-color: #2175f5;
  border-color: #2175f5;
}

.color[color="red"]{
  background-color: #f84848;
  border-color: #f84848;
}

.color[color="green"]{
  background-color: #29b864;
  border-color: #29b864;
}

.color[color="orange"]{
  background-color: #ff5521;
  border-color: #ff5521;
}

.color[color="black"]{
  background-color: #444;
  border-color: #444;
}

.color.active{
  border-color: #fff;
  box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.size-container{
  padding: 10px 0;
  margin-bottom: 10px;
}

.sizes{
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.size{
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #eee;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.size.active{
  background-color: var(--primary);
  color: #fff;
  transition: .5s;
}

.buy-price{
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price{
  color: #333;
  display: flex;
  align-items: flex-start;
}

.price h1{
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1;
}

.price i{
  font-size: 1.4rem;
  margin-right: 1px;
}

.buy{
  padding: .7rem 1rem;
  background-color: var(--primary);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: .5s;
}

.buy:hover{
  transform: scale(1.1);
}

.buy i{
  margin-right: 2px;
}

@media (max-width: 1070px){
  .shoe{
      width: 135%;
  }
}

@media (max-width: 1000px){
  .card{
      flex-direction: column;
      width: 100%;
      box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
  }
  
  .card > div{
      width: 100%;
      box-shadow: none;
  }

  .shoe{
      width: 100%;
      transform: rotate(-5deg) translateY(-50%);
      top: 55%;
      right: 2%;
  }

  .nike{
      top: 20%;
      left: 5%;
  }
}

@media (max-width: 600px){
  .share{
      width: 40px;
      height: 40px;
  }

  .share i {
      font-size: 1rem;
      line-height: 40px;
  }

  .logo{
      width: 70px;
  }
}

@media (max-width: 490px){
  .nike{
      font-size: 7rem;
  }

  .shoeName div .big{
      font-size: 1.3rem;
  }

  .small{
      font-size: 1rem;
  }

  .new{
      padding: 2px 6px;
      font-size: .9rem;
  }

  .title{
      font-size: .9rem;
  }

  .text{
      font-size: .8rem;
  }

  .buy{
      padding: .5rem .8rem;
      font-size: .8rem;
  }

  .price h1{
      font-size: 1.5rem;
  }

  .price i{
      font-size: .9rem;
  }

  .size{
      width: 30px;
      height: 30px;
      margin: 0 8px;
      font-size: .9rem;
      line-height: 30px;
  }

  .color{
      margin: 0 6px;
      width: 0 20px;
      width: 20px;
      height: 20px;
      border-width: 4px;
  }

  .share{
      width: 35px;
      height: 35px;
      top: 10px;
      right: 10px;
  }

  .share i{
      font-size: .8rem;
      line-height: 35px;
  }

  .logo{
      width: 60px;
      top: 10px;
      left: 10px;
  }

  .info{
      padding: 20px;
  }
}

@media (max-width: 400px){
  .buy i{
      display: none;
  }

  .container{
      padding: 20px;
  }
}