* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

/* Styling the banner hero section area */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(4, 9, 30, 0.7),
      rgba(255, 255, 255, 0.127)
    ),
    url("../assets/Images/banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

/* display the alignment for the container items */
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

/* The LEFT logo image size goes here*/
nav img {
  width: 150px;
}

/* Aligning the links to the right  */
.nav-links {
  flex: 1;
  text-align: right;
}

/* styling the text  */
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

/* styling the links itself  with color and font size etc etc*/
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

/* styling the hover effect on the links when you hover*/
.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #96be25;
  display: block;
  margin: auto;
  transition: 0.5s;
}

/* styling what happens after you hover on it  */
.nav-links ul li :hover::after {
  width: 100%;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Banner Content Section */

/* styling the center text  */
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

/* styling the middle banner button */
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

/* styling the hover effect when your cursor is on the button */
.hero-btn:hover {
  border: 1px solid #be2596;
  background: #be2596;
  transition: 1s;
  color: #fff;
}

.hero-btn-clean {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

/* responsive design code for HERO Section*/

/* burger bar for responsive hidden */
nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background: #96be25;
    height: 100vh;
    width: 200px;
    top: 0%;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  /* burger bar displayed when open  */
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/*New product cards*/
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}


.categories {
  margin: 70px 0;
  
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #be2596;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fas {
  color: #be2596;
}

.rating .far {
  color: #be2596;
}

.col-4:hover {
  transform: translateY(-5px);
  
}


/*About page css*/

.head-about {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(4, 9, 30, 0.7),
      rgba(255, 255, 255, 0.127)
    ),
    url("../assets/Images/about.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}


.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

/* Center the text About Us in the middle of the banner background */
.sub-header h1 {
  margin-top: 100px;
}

.mission {
  margin-right: 170px;
}

.headerh1 {
  padding-top: 50px;
}

.missionbtn {
  margin-top: 40px;
  display: flex;
  justify-content: center;

}

#small {
  width: 150px;
  margin-left: 110px;
  margin-top: 20px;
}

#small2 {
  width: 180px;
  margin-left: 70px;
  margin-top: 30px;
}


.aboutus {
  border-radius: 30px !important;
}

.aboutus2 {
  border-radius: 30px !important;
}

.about-col h1 {
  padding: 0;
}

.about-col p {
  padding: 15px 0 25px;
}


.aboutheader {
  text-align: center;
}

.red-btn {
  border: 1px solid #9c8367;
  background: transparent;
  color: #9c8367;
}

.red-btn:hover {
  color: #fff;
}


.about-col h1 {
  padding: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.red-btn {
  border: 1px solid #9c8367;
  background: transparent;
  color: #9c8367;
}

.red-btn:hover {
  color: #fff;
}


/*Contact page*/

.head-contact {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(4, 9, 30, 0.7),
      rgba(255, 255, 255, 0.127)
    ),
    url("../assets/Images/contact.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}


.contact-bg{
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(image/contact-bg.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bg h3{
  font-size: 1.3rem;
  font-weight: 400;
}
.contact-bg h2{
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}
.line div{
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
  height: 3px;
  width: 70px;
  background: #f7327a;
  border-radius: 5px;
}
.line{
  display: flex;
  align-items: center;
}
.line div:nth-child(2){
  width: 10px;
  height: 10px;
  background: #f7327a;
  border-radius: 50%;
}
.text{
  font-weight: 300;
  opacity: 0.9;
}
.contact-bg .text{
  margin: 1.6rem 0;
}
.contact-body{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.contact-info{
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}
.contact-info span{
  display: block;
}
.contact-info div{
  margin: 0.8rem 0;
  padding: 1rem;
}
.contact-info span .fas{
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: #f7327a;
}
.contact-info div span:nth-child(2){
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text{
  padding-top: 0.4rem;
}
.contact-form{
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
}
.contact-form form{
  padding-bottom: 1rem;
}
.form-control{
  width: 100%;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  outline: 0;
}
.form-control:focus{
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}
.send-btn{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: #f7327a;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.send-btn:hover{
  opacity: 0.8;
}
.contact-form > div img{
  width: 85%;
}
.contact-form > div{
  margin: 0 auto;
  text-align: center;
}
.contact-footer{
  padding: 2rem 0;
  background: #000;
}
.contact-footer h3{
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.social-links{
  display: flex;
  justify-content: center;
}
.social-links a{
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}
.social-links a:hover{
  color: #f7327a;
  border-color: #f7327a;
}

@media screen and (min-width: 768px){
  .contact-bg .text{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
  }
  .contact-info{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px){
  .contact-bg .text{
      width: 50%;
  }
  .contact-form{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
  }
}

@media screen and (min-width: 1200px){
  .contact-info{
      grid-template-columns: repeat(4, 1fr);
  }
}
